[submodule "stesi/l10n-italy"]
	path = stesi/l10n-italy
	url = git@github.com:stesi/l10n-italy.git
	branch = 14.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 14.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "ingegniamo/vendor_selection"]
	path = ingegniamo/vendor_selection
	url = git@github.com:ingegniamo/vendor_selection.git
	branch = 14.0

[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 14.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0

[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 14.0
[submodule "stesi/customer_invoice_margin"]
	path = stesi/customer_invoice_margin
	url = git@github.com:stesi/customer_invoice_margin.git
	branch = 14.0

[submodule "ingegniamo/account_margin_shipment_commission"]
	path = ingegniamo/account_margin_shipment_commission
	url = git@github.com:ingegniamo/account_margin_shipment_commission.git
	branch = 14.0

[submodule "ingegniamo/helpdesk_sale_order"]
	path = ingegniamo/helpdesk_sale_order
	url = git@github.com:ingegniamo/helpdesk_sale_order.git
	branch = 14.0

[submodule "ingegniamo/sale_team_in_partner"]
	path = ingegniamo/sale_team_in_partner
	url = git@github.com:ingegniamo/sale_team_in_partner.git
	branch = 14.0
